<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Hello curious individual! My website is made with 11ty and Sass and you can find the source at https://sh.robog.net/src -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} @ robog.net</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/_styles/{{ style }}{% if style is not defined %}base{% endif %}.css"></link>
</head>
<body>
    {{ content | safe }}
</body>
</html>
