<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Hello curious individual! My website is made with 11ty and Sass and you can find the source at https://sh.robog.net/src -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | safe }}</title>
    <meta name="description" content="{% if description is not defined %}Sam Knight's digital portfolio. Art, blog, apps, and more.{% else %}{{ page.rawInput | excerpt }}{% endif %}">
    <style>
        * {
            /* Used to define primary color in nunjucks templates */
            --color-primary: {{ primaryColor }}{% if primaryColor is not defined %}#a0e80a{% endif %};
        }
    </style>

    <!-- lazy load bulky styles -->
    <noscript>
        <link href="/_styles/fonts.css" rel="stylesheet">
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
    </noscript>
    <link href="/_styles/fonts.css" class="lazycss">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" class="lazycss"/>
    <!-- end lazy load -->

    <link rel="stylesheet" href="/_styles/{{ style }}{% if style is not defined %}base{% endif %}.css"></link>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <!-- mastodon link verification -->
    <a rel="me" href="https://mastodon.social/@sam_knight" style="display: none">Mastodon</a>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    {% block inner %}
        {{ content | safe }}
    {% endblock %}
    <script defer>
        // Absurd that I have to do this. W3C pls fix.
        document.querySelectorAll(".lazycss").forEach((css) => {css.rel = "stylesheet"});
    </script>
</body>
</html>
