---
style: blog
primaryColor: "#ffc533"
navOverrideLink: /blog
navOverrideText: All Posts
---

{% extends "page.njk" %}

{% block content %}
    <article class="post-content">
        {{ content | safe }}
    </article>
{% endblock %}

{% block afterContent %}
    {% if hideFooter is not defined %}
    <footer>
        <p>Comments? <a href="/about">Contact me directly</a>.</p>
        <p><a href="/blog">Explore other topics</a>.</p>
    </footer>
    {% endif %}

    <script src="/_scripts/image-zoom.js" defer></script>
{% endblock %}
