---
style: blog
navOverrideLink: /blog
navOverrideText: All Posts
---

{% extends "page.njk" %}

{% block content %}
    <article class="post-content">
        {{ content | safe }}
    </article>
{% endblock %}

{% block afterContent %}
    <footer>
        <p>Comments? <a href="/about">Contact me directly</a>.</p>
        <p>Explore other topics <a href="/blog">here</a>.</p>
    </footer>

    <script src="/_scripts/image-zoom.js" defer></script>
{% endblock %}
