---
layout: base.njk
---

<div class="page-content">
    <div class="header-container">
        <section class="page-header">
            <header class="page-navigation">
                <a href="/" class="home-link" aria-label="Back to home">
                    <div class="arrow"><img src="/_favicon/arrow.svg" alt="Back Arrow"></div>
                    <span class="back-text">Home</span>
                </a>
            </header>
            <h1>{{ title }}</h1>
        </section>
    </div>

    <main class="content">
        {{ content | safe }}
    </main>
</div>

<script src="/_scripts/header-shrink.js" defer></script>
