---
style: blog
primaryColor: "#ffc533"
hideNav: false
---

{% extends "page.njk" %}
{% block content %}
  <article class="post-content thread-entry-page">
    <p class="thread-entry-back">
      <a href="/blog/{{ data.thread }}/">
        Back to thread
      </a>
    </p>
    <time class="thread-entry-standalone-time" ">
      Snippet Post • {{ date }}
      {{ time }}
    </time>
    {{ content | safe }}
  </article>
{% endblock %}
