html, body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  height: 100%;
  overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
    height: 100%;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
