html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #C1E4EE;
  font-family: 'Futura', 'Calibri', 'Helvetica', 'Arial', sans-serif;
}

article {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
